@use '../abstracts' as *;

.steps {
	padding-top: 16.8rem;

	&__bg {
		background: var(--dark-grey-blue);
		color: var(--light-cream);
		padding: 9.1rem 0 4rem 8.1rem;
		border-radius: var(--border-radius-default);
	}

	&__lines {
		padding-bottom: 6.7rem;
		position: relative;
		width: 80rem;
		@include breakpoint(medium) {
			width: 46.7rem;
		}
		@include breakpoint(xsmall) {
			display: none;
		}
	}

	&__circle {
		width: 3.1rem;
		height: 3.1rem;
		border-radius: 50%;
		background: transparent;
		border: 0.2rem solid var(--dark-cyan);
	}

	&__line {
		position: absolute;
		top: 1.5rem;
		color: var(--pale-orange);
		width: 100%;
		right: -2rem;
	}
}

.subscribe.work--subhead,
.subscribe.work--desc {
	color: var(--light-cream);
}

// Quesiton
.options {
	max-width: 73rem;
}

// Toggles

.options .option.open .option--title {
	margin-bottom: 1.5rem;
	transition: all 0.4s ease;
}
.options .option.open .option--title::after {
	transform: translateY(-50%) rotate(180deg);
}

.options .option.open .option__items {
	max-height: 100rem;
	opacity: 1;
}

.option {
	padding-bottom: 8.8rem;
	cursor: pointer;
	&--title {
		color: var(--grey);
		transition: all 0.4s ease;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0rem;
			transform: translateY(-50%);
			height: 1.192rem;
			width: 1.819rem;
			background-image: url('../../public/assets/plan/desktop/icon-arrow.svg');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	&--subhead {
		color: var(--dark-grey-blue);
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(22.8rem, 1fr));
		gap: 2.3rem;
		padding-top: 5.6rem;
		opacity: 0;
		max-height: 0;
		overflow-y: hidden;
		transition: all 0.4s ease;
	}

	&__inner {
		background: var(--light-grey);
		border-radius: var(--border-radius-option);
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		text-align: left;
		padding: 3.2rem 2.8rem 8.4rem 2.8rem;
		cursor: pointer;
		transform: all 0.4s ease-in-out;
		&:hover,
		&:focus {
			background: var(--dark-cyan);
			color: var(--light-cream);
		}
	}
}

.questions {
	display: flex;
	gap: 12.5rem;
}

.select {
	// width: 255px;
	// height: 356px;

	align-items: center;

	&__content {
		display: flex;
		align-items: center;
	}

	&--number {
		color: var(--dark-cyan);
	}
}
