$breakpoints: (
	'xsmall': 600px,
	'medium': 960px,
	'large': 1200px,
	'xlarge': 1440px,
);

@mixin breakpoint($point) {
	// $breakpoint-value: map-get($breakpoints, $size);
	$size: map-get($breakpoints, $point);
	@media only screen and (max-width: $size) {
		// includes all the content you're writing in your mixin
		@content;
	}
}

// @include breakpoint(medium) {

// }
