:root {
	// Colours
	--dark-cyan: #0e8784;
	--dark-grey-blue: #333d4b;
	--pale-orange: #fdd6ba;
	--light-cream: #fefcf7;
	--grey: #83888f;
	--light-cyan: #66d2cf;
	--light-grey: #f4f1eb;

	// Typography
	--font-header: 'Fraunces', serif;
	--font-text: 'Barlow', sans-serif;
	--font-weight-400: 400;
	--font-weight-700: 700;
	--font-weight-900: 900;

	--border-radius-default: 0.6rem;
	--border-radius-option: 0.8rem;

	// Padding
	--padding: 0 2rem;
}
